* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

#home {
    height: 100vh;
}

#evenements {
    min-height: 100vh;
    padding-top: 7rem;
}

#gallerie {
    min-height: 100vh;
    padding-top: 7rem;
    background-color: #7d0217;
    color: white;
}

#concours {
    min-height: 100vh;
    padding-top: 7rem;
}

#eventsContainer .card {
    max-width: 350px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#eventsContainer .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    cursor: pointer;
}

#eventsContainer .card .card-body .card-text.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-container {
    overflow: hidden; /* Masque les images en dehors de la vue */
    position: relative;
    width: 100%;
}

.carousel-track {
    transition: transform 0.5s ease-in-out;
    display: flex;
    align-items: center;
}

.carousel-track img {
    flex: 0 0 auto; /* Images ne se réduisent pas */
    width: 100%; /* Une image visible sur mobile */
    border-radius: 1rem;
    height: fit-content;
}

.carousel-track img:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    cursor: pointer;
}

.carousel-track video {
    flex: 0 0 auto; /* Vidéos ne se réduisent pas */
    width: 100%; /* Une vidéo visible sur mobile */
    border-radius: 1rem;
    height: fit-content;
}

.carousel-track video:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    cursor: pointer;
}

@media (min-width: 576px) {
    .carousel-track img {
        width: 50%; /* Deux images visibles sur tablette */
    }
    .carousel-track video {
        width: 50%; /* Deux vidéos visibles sur tablette */
    }
}

@media (min-width: 768px) {
    .carousel-track img {
        width: 33.33%; /* Trois images visibles sur grand écran */
    }
    .carousel-track video {
        width: 33.33%; /* Trois vidéos visibles sur grand écran */
    }
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
}

.d-none {
    display: none !important;
}
